# VAEX y DASK
## Cuaderno 1/4
Actividad Lección 6 || Programación Python para Big Data

Objetivos:
* Aprender más sobre VAEX y DASK
* Fomentar la proactividad del alumno

Datos del alumno:
* Víctor Luque Martín
* Máster Avanzado en Programación en Python para Hacking, BigData y Machine Learning

Fecha: 09/09/2022

# Tabla de contenidos:
1. [Ordenador con el que se ha hecho el experimento](#caracteristicas)
2. [Pandas](#pandas)
3. [Dask](#dask)
4. [Vaex (Forma 1)](#vaex-1)
5. [Vaex (Forma 2)](#vaex-2)

## Ordenador con el que se ha hecho el experimento <a class="anchor" id="caracteristicas"></a>
Características:
- Intel Core i5-8400, 2.8GHz, 6 CPUs
- 32 GB DDR4
- Disco Duro:
    - 256 GB SSD
    - 1 TB HDD
    - 5 TB HDD
- Tarjeta gráfica: NVIDIA GeForce GTX 1060 6GB
- Sistema operativo: Windows 10
- Ruta del experimento: "Z:\Formacion\003. Máster Python EIP\08. Programación Python para BigData\Lección 6\Actividad"

## Pandas <a class="anchor" id="pandas"></a>

In [1]:
%%time
import pandas as pd

CPU times: total: 438 ms
Wall time: 1.52 s

In [2]:
%%time
df_pandas = pd.read_parquet("data/yellow_tripdata_2018-12.parquet")
df_pandas.to_csv("data/yellow_tripdata_2018-12.csv", index=False)

CPU times: total: 1min 19s
Wall time: 1min 20s

In [3]:
%%time
df_pandas = pd.read_csv('data/yellow_tripdata_2018-12.csv', low_memory=False)
df_pandas.head()

CPU times: total: 19.1 s
Wall time: 19.5 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2018-12-01 00:28:22,2018-12-01 00:44:07,2.0,2.5,1.0,N,148,234,1,12.0,0.5,0.5,3.95,0.0,0.3,17.25,NaN,NaN
1,1,2018-12-01 00:52:29,2018-12-01 01:11:37,3.0,2.3,1.0,N,170,144,1,13.0,0.5,0.5,2.85,0.0,0.3,17.15,NaN,NaN
2,2,2018-12-01 00:12:52,2018-12-01 00:36:23,1.0,0.0,1.0,N,113,193,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,NaN,NaN
3,1,2018-12-01 00:35:08,2018-12-01 00:43:11,1.0,3.9,1.0,N,95,92,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,NaN,NaN
4,1,2018-12-01 00:21:54,2018-12-01 01:15:13,1.0,12.8,1.0,N,163,228,1,45.0,0.5,0.5,9.25,0.0,0.3,55.55,NaN,NaN

In [4]:
print(f"Number of Rows: {len(df_pandas.index)}")
print(f"Number of Columns: {len(df_pandas.axes[1])}")

Number of Rows: 8195675
Number of Columns: 19

In [5]:
%%time
df_pandas.describe()

CPU times: total: 4.66 s
Wall time: 4.72 s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,8.195675e+06,8.173487e+06,8.195675e+06,8.173487e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,0.0,0.0
mean,1.635856e+00,1.596356e+00,2.912857e+00,1.056549e+00,1.640199e+02,1.620728e+02,1.320479e+00,1.327959e+01,3.273098e-01,4.964803e-01,1.857837e+00,3.485979e-01,2.997376e-01,1.661375e+01,NaN,NaN
std,5.602594e-01,1.233906e+00,3.789355e+00,6.551961e-01,6.706738e+01,7.084971e+01,4.930977e-01,1.199747e+02,4.823102e-01,5.704074e-02,2.617757e+00,1.808614e+00,1.047982e+00,1.202705e+02,NaN,NaN
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-3.000000e+02,-4.468000e+01,-5.000000e-01,-8.088000e+01,-3.133000e+01,-3.000000e-01,-3.003000e+02,NaN,NaN
25%,1.000000e+00,1.000000e+00,9.400000e-01,1.000000e+00,1.140000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.580000e+00,NaN,NaN
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.360000e+00,0.000000e+00,3.000000e-01,1.200000e+01,NaN,NaN
75%,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.500000e+01,5.000000e-01,5.000000e-01,2.450000e+00,0.000000e+00,3.000000e-01,1.830000e+01,NaN,NaN
max,5.000000e+00,9.000000e+00,6.023000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,3.254782e+05,8.400000e+01,6.500000e+01,3.713700e+02,9.167600e+02,3.000000e+03,3.254790e+05,NaN,NaN

In [6]:
%%time
df_pandas.fare_amount.value_counts()

CPU times: total: 109 ms
Wall time: 116 ms

6.00     392804
5.50     386977
6.50     386107
7.00     374669
5.00     362836
          ...
53.20         1
74.64         1
61.63         1
44.55         1
12.21         1
Name: fare_amount, Length: 6195, dtype: int64

In [7]:
%%time
len(df_pandas), df_pandas.shape

CPU times: total: 0 ns
Wall time: 0 ns

(8195675, (8195675, 19))

In [8]:
%%time
df_pandas.tail()

CPU times: total: 0 ns
Wall time: 0 ns

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
8195670,2,2018-12-31 23:25:00,2018-12-31 23:40:00,NaN,9.32,NaN,NaN,50,265,0,0.00,0.00,0.0,10.0,10.50,0.3,0.0,NaN,NaN
8195671,2,2018-12-31 23:04:00,2018-12-31 23:30:00,NaN,9.06,NaN,NaN,243,182,0,28.95,2.75,0.5,0.0,0.00,0.3,32.5,NaN,NaN
8195672,2,2018-12-31 23:02:00,2018-12-31 23:35:00,NaN,11.70,NaN,NaN,236,254,0,51.05,2.75,0.5,0.0,0.00,0.3,54.6,NaN,NaN
8195673,2,2018-12-31 23:17:00,2018-12-31 23:43:00,NaN,7.82,NaN,NaN,146,78,0,23.19,2.75,0.5,0.0,5.76,0.3,32.5,NaN,NaN
8195674,5,2018-12-31 23:01:26,2018-12-31 23:43:42,NaN,9.92,NaN,NaN,95,48,0,34.74,0.00,0.5,0.0,5.76,0.3,41.3,NaN,NaN

## DASK <a class="anchor" id="dask"></a>

In [9]:
%%time
import dask.dataframe as dd

CPU times: total: 391 ms
Wall time: 664 ms

In [10]:
%%time
df_dask = dd.read_csv('data/yellow_tripdata_2018-12.csv', assume_missing=True)
df_dask.head()

CPU times: total: 1.28 s
Wall time: 1.36 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1.0,2018-12-01 00:28:22,2018-12-01 00:44:07,2.0,2.5,1.0,N,148.0,234.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25,NaN,NaN
1,1.0,2018-12-01 00:52:29,2018-12-01 01:11:37,3.0,2.3,1.0,N,170.0,144.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15,NaN,NaN
2,2.0,2018-12-01 00:12:52,2018-12-01 00:36:23,1.0,0.0,1.0,N,113.0,193.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,NaN,NaN
3,1.0,2018-12-01 00:35:08,2018-12-01 00:43:11,1.0,3.9,1.0,N,95.0,92.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,NaN,NaN
4,1.0,2018-12-01 00:21:54,2018-12-01 01:15:13,1.0,12.8,1.0,N,163.0,228.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55,NaN,NaN

In [11]:
%%time
df_dask.describe()

CPU times: total: 93.8 ms
Wall time: 130 ms

Dask DataFrame Structure:
              VendorID passenger_count trip_distance RatecodeID PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge airport_fee
npartitions=1
               float64         float64       float64    float64      float64      float64      float64     float64  float64  float64    float64      float64               float64      float64              float64     float64
                   ...             ...           ...        ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...
Dask Name: describe-numeric, 713 tasks

In [12]:
%%time
df_dask.describe().compute()

z:\Formacion\003. Máster Python EIP\Master_Python_Eip\programacion_bigdata\pbd6\venv\lib\site-packages\dask\array\numpy_compat.py:40: RuntimeWarning: invalid value encountered in divide
  x = np.divide(x1, x2, out)

CPU times: total: 30.4 s
Wall time: 10.8 s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,8.195675e+06,8.173487e+06,8.195675e+06,8.173487e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,8.195675e+06,0.0,0.0
mean,1.635856e+00,1.596356e+00,2.912857e+00,1.056549e+00,1.640199e+02,1.620728e+02,1.320479e+00,1.327959e+01,3.273098e-01,4.964803e-01,1.857837e+00,3.485979e-01,2.997376e-01,1.661375e+01,NaN,NaN
std,5.602594e-01,1.233906e+00,3.789355e+00,6.551961e-01,6.706738e+01,7.084971e+01,4.930977e-01,1.199747e+02,4.823102e-01,5.704074e-02,2.617757e+00,1.808614e+00,1.047982e+00,1.202705e+02,NaN,NaN
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-3.000000e+02,-4.468000e+01,-5.000000e-01,-8.088000e+01,-3.133000e+01,-3.000000e-01,-3.003000e+02,NaN,NaN
25%,1.000000e+00,1.000000e+00,9.900000e-01,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,7.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,9.300000e+00,NaN,NaN
50%,2.000000e+00,1.000000e+00,1.700000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.000000e+01,5.000000e-01,5.000000e-01,1.650000e+00,0.000000e+00,3.000000e-01,1.296000e+01,NaN,NaN
75%,2.000000e+00,2.000000e+00,3.500000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.600000e+01,1.000000e+00,5.000000e-01,2.800000e+00,0.000000e+00,3.000000e-01,1.980000e+01,NaN,NaN
max,5.000000e+00,9.000000e+00,6.023000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,3.254782e+05,8.400000e+01,6.500000e+01,3.713700e+02,9.167600e+02,3.000000e+03,3.254790e+05,NaN,NaN

In [13]:
%%time
df_dask.fare_amount.value_counts()

CPU times: total: 0 ns
Wall time: 1 ms

Dask Series Structure:
npartitions=1
    int64
      ...
Name: fare_amount, dtype: int64
Dask Name: value-counts-agg, 39 tasks

In [14]:
%%time
df_dask.fare_amount.value_counts().compute()

CPU times: total: 6.7 s
Wall time: 1.92 s

6.00         392804
5.50         386977
6.50         386107
7.00         374669
5.00         362836
              ...
67.70             1
67.68             1
67.63             1
67.61             1
325478.15         1
Name: fare_amount, Length: 6195, dtype: int64

## VAEX (Forma 1) <a class="anchor" id="vaex-1"></a>

In [15]:
%%time
import vaex

CPU times: total: 1.12 s
Wall time: 2.69 s

In [16]:
%%time
df_vaex = vaex.open('data/yellow_tripdata_2018-12.parquet')
df_vaex
# No ha sido posible la apertura del archivo con el parámetro convert=True

CPU times: total: 844 ms
Wall time: 2.41 s

#          VendorID    tpep_pickup_datetime    tpep_dropoff_datetime    passenger_count    trip_distance    RatecodeID    store_and_fwd_flag    PULocationID    DOLocationID    payment_type    fare_amount    extra    mta_tax    tip_amount    tolls_amount    improvement_surcharge    total_amount    congestion_surcharge    airport_fee
0          1           2018-12-01 00:28:22     2018-12-01 00:44:07      2.0                2.5              1.0           N                     148             234             1               12.0           0.5      0.5        3.95          0.0             0.3                      17.25           --                      --
1          1           2018-12-01 00:52:29     2018-12-01 01:11:37      3.0                2.3              1.0           N                     170             144             1               13.0           0.5      0.5        2.85          0.0             0.3                      17.15           --                      --
2          2           2018-12-01 00:12:52     2018-12-01 00:36:23      1.0                0.0              1.0           N                     113             193             2               2.5            0.5      0.5        0.0           0.0             0.3                      3.8             --                      --
3          1           2018-12-01 00:35:08     2018-12-01 00:43:11      1.0                3.9              1.0           N                     95              92              1               12.5           0.5      0.5        2.75          0.0             0.3                      16.55           --                      --
4          1           2018-12-01 00:21:54     2018-12-01 01:15:13      1.0                12.8             1.0           N                     163             228             1               45.0           0.5      0.5        9.25          0.0             0.3                      55.55           --                      --
...        ...         ...                     ...                      ...                ...              ...           ...                   ...             ...             ...             ...            ...      ...        ...           ...             ...                      ...             ...                     ...
8,195,670  2           2018-12-31 23:25:00     2018-12-31 23:40:00      --                 9.32             --            --                    50              265             0               0.0            0.0      0.0        10.0          10.5            0.3                      0.0             --                      --
8,195,671  2           2018-12-31 23:04:00     2018-12-31 23:30:00      --                 9.06             --            --                    243             182             0               28.95          2.75     0.5        0.0           0.0             0.3                      32.5            --                      --
8,195,672  2           2018-12-31 23:02:00     2018-12-31 23:35:00      --                 11.7             --            --                    236             254             0               51.05          2.75     0.5        0.0           0.0             0.3                      54.6            --                      --
8,195,673  2           2018-12-31 23:17:00     2018-12-31 23:43:00      --                 7.82             --            --                    146             78              0               23.19          2.75     0.5        0.0           5.76            0.3                      32.5            --                      --
8,195,674  5           2018-12-31 23:01:26     2018-12-31 23:43:42      --                 9.92             --            --                    95              48              0               34.74          0.0      0.5        0.0           5.76            0.3                      41.3            --                      --

In [17]:
# No se ha creado el archivo hdf5, por el error anterior, no obstante, al utilizar el método export, si se ha creado el archivo
#%%time
#vaex_hdf5 = vaex.open('data/yellow_tripdata_2018-12.parquet.hdf5')
#vaex_hdf5

In [18]:
#%%time
#vaex_hdf5.describe()

In [19]:
#%%time
#vaex_hdf5.fare_amount.value_counts()

# VAEX (Forma-2) <a class="anchor" id="vaex-2"></a>

In [20]:
%%time
df_vaex_3 = vaex.from_csv('data/yellow_tripdata_2018-12.csv')
df_vaex_3

z:\Formacion\003. Máster Python EIP\Master_Python_Eip\programacion_bigdata\pbd6\venv\lib\site-packages\vaex\__init__.py:580: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  full_df = pd.read_csv(f, **kwargs)

CPU times: total: 17.3 s
Wall time: 17.4 s

#          VendorID    tpep_pickup_datetime    tpep_dropoff_datetime    passenger_count    trip_distance    RatecodeID    store_and_fwd_flag    PULocationID    DOLocationID    payment_type    fare_amount    extra    mta_tax    tip_amount    tolls_amount    improvement_surcharge    total_amount    congestion_surcharge    airport_fee
0          1           2018-12-01 00:28:22     2018-12-01 00:44:07      2.0                2.5              1.0           N                     148             234             1               12.0           0.5      0.5        3.95          0.0             0.3                      17.25           nan                     nan
1          1           2018-12-01 00:52:29     2018-12-01 01:11:37      3.0                2.3              1.0           N                     170             144             1               13.0           0.5      0.5        2.85          0.0             0.3                      17.15           nan                     nan
2          2           2018-12-01 00:12:52     2018-12-01 00:36:23      1.0                0.0              1.0           N                     113             193             2               2.5            0.5      0.5        0.0           0.0             0.3                      3.8             nan                     nan
3          1           2018-12-01 00:35:08     2018-12-01 00:43:11      1.0                3.9              1.0           N                     95              92              1               12.5           0.5      0.5        2.75          0.0             0.3                      16.55           nan                     nan
4          1           2018-12-01 00:21:54     2018-12-01 01:15:13      1.0                12.8             1.0           N                     163             228             1               45.0           0.5      0.5        9.25          0.0             0.3                      55.55           nan                     nan
...        ...         ...                     ...                      ...                ...              ...           ...                   ...             ...             ...             ...            ...      ...        ...           ...             ...                      ...             ...                     ...
8,195,670  2           2018-12-31 23:25:00     2018-12-31 23:40:00      nan                9.32             nan           --                    50              265             0               0.0            0.0      0.0        10.0          10.5            0.3                      0.0             nan                     nan
8,195,671  2           2018-12-31 23:04:00     2018-12-31 23:30:00      nan                9.06             nan           --                    243             182             0               28.95          2.75     0.5        0.0           0.0             0.3                      32.5            nan                     nan
8,195,672  2           2018-12-31 23:02:00     2018-12-31 23:35:00      nan                11.7             nan           --                    236             254             0               51.05          2.75     0.5        0.0           0.0             0.3                      54.6            nan                     nan
8,195,673  2           2018-12-31 23:17:00     2018-12-31 23:43:00      nan                7.82             nan           --                    146             78              0               23.19          2.75     0.5        0.0           5.76            0.3                      32.5            nan                     nan
8,195,674  5           2018-12-31 23:01:26     2018-12-31 23:43:42      nan                9.92             nan           --                    95              48              0               34.74          0.0      0.5        0.0           5.76            0.3                      41.3            nan                     nan

In [21]:
%%time
df_vaex_3.export('data/yellow_tripdata_2018-12_exportado.hdf5')

CPU times: total: 5.41 s
Wall time: 30.7 s

In [22]:
%%time
df_vaex_4 = vaex.open('data/yellow_tripdata_2018-12_exportado.hdf5')
df_vaex_4

CPU times: total: 15.6 ms
Wall time: 23 ms

#          VendorID    tpep_pickup_datetime    tpep_dropoff_datetime    passenger_count    trip_distance    RatecodeID    store_and_fwd_flag    PULocationID    DOLocationID    payment_type    fare_amount    extra    mta_tax    tip_amount    tolls_amount    improvement_surcharge    total_amount    congestion_surcharge    airport_fee
0          1           2018-12-01 00:28:22     2018-12-01 00:44:07      2.0                2.5              1.0           N                     148             234             1               12.0           0.5      0.5        3.95          0.0             0.3                      17.25           nan                     nan
1          1           2018-12-01 00:52:29     2018-12-01 01:11:37      3.0                2.3              1.0           N                     170             144             1               13.0           0.5      0.5        2.85          0.0             0.3                      17.15           nan                     nan
2          2           2018-12-01 00:12:52     2018-12-01 00:36:23      1.0                0.0              1.0           N                     113             193             2               2.5            0.5      0.5        0.0           0.0             0.3                      3.8             nan                     nan
3          1           2018-12-01 00:35:08     2018-12-01 00:43:11      1.0                3.9              1.0           N                     95              92              1               12.5           0.5      0.5        2.75          0.0             0.3                      16.55           nan                     nan
4          1           2018-12-01 00:21:54     2018-12-01 01:15:13      1.0                12.8             1.0           N                     163             228             1               45.0           0.5      0.5        9.25          0.0             0.3                      55.55           nan                     nan
...        ...         ...                     ...                      ...                ...              ...           ...                   ...             ...             ...             ...            ...      ...        ...           ...             ...                      ...             ...                     ...
8,195,670  2           2018-12-31 23:25:00     2018-12-31 23:40:00      nan                9.32             nan           --                    50              265             0               0.0            0.0      0.0        10.0          10.5            0.3                      0.0             nan                     nan
8,195,671  2           2018-12-31 23:04:00     2018-12-31 23:30:00      nan                9.06             nan           --                    243             182             0               28.95          2.75     0.5        0.0           0.0             0.3                      32.5            nan                     nan
8,195,672  2           2018-12-31 23:02:00     2018-12-31 23:35:00      nan                11.7             nan           --                    236             254             0               51.05          2.75     0.5        0.0           0.0             0.3                      54.6            nan                     nan
8,195,673  2           2018-12-31 23:17:00     2018-12-31 23:43:00      nan                7.82             nan           --                    146             78              0               23.19          2.75     0.5        0.0           5.76            0.3                      32.5            nan                     nan
8,195,674  5           2018-12-31 23:01:26     2018-12-31 23:43:42      nan                9.92             nan           --                    95              48              0               34.74          0.0      0.5        0.0           5.76            0.3                      41.3            nan                     nan

In [23]:
%%time
df_vaex_4.describe()

CPU times: total: 12.9 s
Wall time: 3.06 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
data_type,int64,string,string,float64,float64,float64,string,int64,int64,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64
count,8195675,8195675,8195675,8173487,8195675,8173487,8173487,8195675,8195675,8195675,8195675,8195675,8195675,8195675,8195675,8195675,8195675,0,0
NA,0,0,0,22188,0,22188,22188,0,0,0,0,0,0,0,0,0,0,8195675,8195675
mean,1.6358558630009121,--,--,1.596356120710781,2.9128565652004963,1.0565488144778354,--,164.01987828946366,162.0728268263444,1.3204790331485814,13.279593295243506,0.32730977497277536,0.49648031797258924,1.8578373007716378,0.34859785313628316,0.2997375688969522,16.61374622976207,nan,nan
std,0.560259,--,--,1.233906,3.789354,0.655196,--,67.067372,70.849706,0.493098,119.974721,0.48231,0.057041,2.617757,1.808614,1.047982,120.270508,NaN,NaN
min,1,--,--,0.0,0.0,1.0,--,1,1,0,-300.0,-44.68,-0.5,-80.88,-31.33,-0.3,-300.3,inf,inf
max,5,--,--,9.0,602.3,99.0,--,265,265,4,325478.15,84.0,65.0,371.37,916.76,3000.0,325478.98,-inf,-inf

In [24]:
%%time
df_vaex_4.fare_amount.value_counts()

CPU times: total: 312 ms
Wall time: 106 ms

 6.00      392804
 5.50      386977
 6.50      386107
 7.00      374669
 5.00      362836
            ...
-8.30           1
 211.11         1
 12.38          1
 71.06          1
 52.89          1
Length: 6195, dtype: int64